apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: subbu-1-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-web
  template:
    metadata:
      labels:
        app: flask-web
    spec:
      containers:
      - name: flask-container
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 5000